* {
    padding: 0;
    margin: 0;
}
h1{
    font-size: 60px;
}

body {
    background-color: rgb(206, 206, 243);
}

.header {
    text-align: center;
    background-color: rgb(32, 32, 112);
    color: white;
    padding-bottom: 11px;
    position: sticky;
    top: 0;
    width: 100%;
}

.navigation {
    background-color: rgb(32, 32, 112);
    position: sticky;
    top: 79px;
    padding-bottom: 1%;
}

.header,
.navigation {
    font-family: "Mozilla Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  
}

.navigation a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 12px;
    margin: 3%;
}

#cart {
    float: inline-end;
    margin-top: -12px;
    background-color: rgb(22, 22, 83);;
    color: aliceblue;
    border-radius: 12px;
}



a:hover {
    background-color: rgba(7, 7, 48, 0.733);
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

#product-container li {
    background-color: rgb(156, 219, 219);
    width: 100%;
    max-width:320px ;
    /* height: 420px; */
    margin: 15px;
    padding: 9px;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;

}

/* img{
    width: 250px;
    align-items: center;
} */
ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-evenly;
    width: 100%;
}
#add_Tocart{
    color: yellow;
    background-color: #333;
    text-align: center;
    margin: 5px;
    padding: 4px;
    width: 100%;
}
#add_Tocart:hover{
    background-color: white;
    color: black;
}

